<div class="wrapper">
    <div class="navigation-bar">
        <div class="brand-wrapper">
        <a href="/">
             <img class="brand-logo" src="https://www.valuefy.com/assets/images/logo-hd-one.png" alt="Valuefy Solutions" >
        </a>
        </div>
        <a routerlink="/request-playlist" class="request-playlist">
            +
        </a>
    </div>

    <div class="videoplayer-wrapper">
        <div class="videoplayer-container">
            <div class="video-player">
             <ng-container *ngIf="isGoodRequest">
               <app-video-playlist-player [playVideo]="videoUrl"></app-video-playlist-player>
            </ng-container>
            </div>
        </div>
    </div>

    <div class="video-playlist-wrapper">
        <div id="playlistElement" class="video-playlist-container" #playlistElement>
             <div class="video-playlist" *ngFor="let playlist of videoPlaylist; let i = index">
                <img class="poster" [ngClass]="{'active': posterName === playlist.name}" title="{{playlist.name | customUppercase}}" 
                src="{{playlist.poster}}" alt="{{playlist.name}}" (click)="videoChange(playlist.trailer, playlist.name)">
                <div class="movie-name">
                    {{playlist.name | customUppercase}}
                </div>
            </div>
        </div>
        <div *ngIf="isGoodRequest" class="icon-wrapper left-icon" (click)="leftArrowClick()">
            <img class="icon " src="../../assets/icons8-chevron-left-50.png">
        </div>
        <div *ngIf="isGoodRequest" class="icon-wrapper right-icon" (click)="rightArrowClick()">
            <img class="icon" src="../../assets/icons8-chevron-right-50.png">
        </div>
    </div>


    <ng-container *ngIf=isBadRequestToast>
        <div class="bad-request">
            <div class="cross">
                <img class="cross-image" src="../../assets/iconfinder_circle-cross_226589.svg">
            </div>
            <p class="bad-request-msg">Error While Fetching Playlist, Please Reload</p>
        </div>
    </ng-container>
</div>